.about_section {
    padding:3rem;
}

.about_section_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    width: 90%;
    margin: 0 auto;  
}

h1 {
    padding: 3rem;
}

.about_section_img img {
    width: 40rem;
    padding:1rem;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;

}


.about_section_text {
    padding:1rem 10rem;
    line-height: 2rem;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.4px;
}
.about_social_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 10rem;
    text-align: center;
}

.about_social {
    color: #000;
    font-size: 2rem;
    padding: 1rem;
}
.about_social i:hover {
    transform: scale(1.5);
    transition: all 0.22s ease-out;
}

@media only screen and (max-width: 1024px) {
    .about_section_img img {
        width: 30rem;
    }
}

@media only screen and (max-width: 700px) {
    .about_section_img img {
        width: 20rem;
    }
    h1 {
        padding: 3rem;
    }
    .about_section_text {
        padding: 1rem;
        font-size: 0.9rem;
    }
    .about_section {
        padding:1rem;
    }
}

  @media only screen and (max-width: 700px){
    .about_section_img img {
        width: 16rem;
    }
}